<!-- User Table-->
<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="login-heading">User Information</h1>
            <button type="button" class="btn btn-primary ml-auto mb-2" data-bs-toggle="modal" data-bs-target="#addUser"
                (click)="clearData()">
                Add User
            </button>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 20%;">Id</th>
                            <th style="width: 25%;">Name</th>
                            <th style="width: 25%;">Email</th>
                            <th style="width: 30%;" colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="userList.length == 0">
                            <td colspan="6" class="text-center bold"><strong>No Records Found! </strong></td>
                        </tr>
                        <tr *ngFor="let user of userList; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <button class="btn btn-outline-primary me-2" data-bs-toggle="modal"
                                    data-bs-target="#editUser" (click)="editUserData(user)">Edit</button>
                                <button class="btn btn-outline-danger" (click)="deleteUserData(user.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<!-- Add User Modal -->
<div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 " id="exampleModalLabel">Add User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="model-body-card">
                    <div class="model-body-card-body">
                        <form [formGroup]="userForm">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" formControlName="name" class="form-control" id="name"
                                    placeholder="Enter name">
                                <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched"
                                    class="text-danger">
                                    <div *ngIf="userForm.get('name')?.hasError('required')">Name is required.</div>
                                    <div *ngIf="userForm.get('name')?.hasError('minlength')">Name should have a minimum
                                        of 2
                                        characters.</div>
                                    <div *ngIf="userForm.get('name')?.hasError('maxlength')">Name should have a maximum
                                        of 30
                                        characters.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" formControlName="email" class="form-control" id="email"
                                    placeholder="Enter email">
                                <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched"
                                    class="text-danger">
                                    <div *ngIf="userForm.get('email')?.hasError('required')">Email is required.</div>
                                    <div *ngIf="userForm.get('email')?.hasError('email')">Invalid email format.</div>
                                </div>
                            </div>
                            <div class="modal-footer border-0">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" (click)="addUserData()"
                                    data-bs-dismiss="modal" [disabled]="userForm.invalid">Add User</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="editUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="model-body-card">
                    <div class="model-body-card-body">
                        <form [formGroup]="userForm">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" formControlName="name" class="form-control" id="name"
                                    placeholder="Enter name">
                                <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched"
                                    class="text-danger">
                                    <div *ngIf="userForm.get('name')?.hasError('required')">Name is required.</div>
                                    <div *ngIf="userForm.get('name')?.hasError('minlength')">Name should have a minimum
                                        of 2
                                        characters.</div>
                                    <div *ngIf="userForm.get('name')?.hasError('maxlength')">Name should have a maximum
                                        of 30
                                        characters.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" formControlName="email" class="form-control" id="email"
                                    placeholder="Enter email">
                                <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched"
                                    class="text-danger">
                                    <div *ngIf="userForm.get('email')?.hasError('required')">Email is required.</div>
                                    <div *ngIf="userForm.get('email')?.hasError('email')">Invalid email format.</div>
                                </div>
                            </div>
                            <div class="modal-footer border-0">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success" (click)="updateUserData()"
                                    data-bs-dismiss="modal" [disabled]="userForm.invalid">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>